.DS_Store
build/
DerivedData/
*.xcuserdata/
*.tmp
*.swpACI Experience Motorsport/13_VideoFiles/180SpatialVideos/IntroEP02-PAN10_VR180_HDR_MV-HEVC.mov
ACI Experience Motorsport/13_VideoFiles/180SpatialVideos/IntroEP02-PAN10_VR180_HDR_MV-HEVC.mov
xcuserdata/
*.xcuserstate
DerivedData/
.DS_Store
